{{ attach_library('ssb_dashboard/ssb_dashboard') }}
<div>
    <ul>
        {% if user.hasPermission('access content overview') %}
        <li>
            <a href="{{ path("system.admin_content") }}">Edit content</a>
            <div>Edit existing content in the system.</div>
        </li>
        {% endif %}

        {# Categories edit links. #}
        {% if categories %}
            {% for category in categories %}
                <li>
                    <a href="{{ path(category.routeName, category.routeParam) }}" >Edit {{ category.name|lower }}</a>
                    {% if category.description %}<div>{{ category.description }}</div>{% endif %}
                </li>
            {% endfor %}
        {% endif %}

        {# Menu edit links #}
        {% if pages %}
            {% for page in pages %}
                <li>
                    <a href="{{ path(page.routeName, page.routeParam) }}">{{ page.name }}</a>
                    {% if page.description %}<div>{{ page.description }}</div>{% endif %}
                </li>
            {% endfor %}
        {% endif %}

        {# Groups edit links #}
        {% if groups %}
            {% for group in groups %}
                <li>
                    <a href="{{ group.url }}">{{ group.name }}</a>
                    {% if group.description %}<div>{{ group.description }}</div>{% endif %}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>